@import './base.css';

html {
  width: 100%;
  height: 100%;
  background-color: #FBFCFE;
}

body {
  width: 100%;
  height: 100%;
  background-color: #FBFCFE;
}

#app {
  width: 100%;
  height: 100%;
  background-color: #FBFCFE;
}






